<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">Hi there! My name is Natalie, I am a London-based photographer. My work is a marriage of the beauty of human beings with stunning architecture and surroundings. <br>
                I am also formerly a dancer, and have experience in modeling and entertainment business. This enables me to direct and choreograph my photo sessions, especially when working with dancers and actors.</p>
            </div>
        </div>
    </div>
</section>
