<header class="header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ site.title }}</h1>
            <hr>
            <p>When I first started doing portraiture, I found it stunning how, contrary to architecture, human beings are incredibly diverse and changing with every moment. It opens a potential for so many beautiful images, each of them full of unique character.</br>
            So let's create your story together.</p>
            <a href="mailto:{{ site.email }}" class="btn btn-primary btn-xl page-scroll">Book A Photoshoot</a>
        </div>
    </div>
</header>
