<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What, When, Where</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-child wow bounceIn text-primary"></i>
                    <h3>Personal</h3>
                    <p class="text-muted">Casual street photos or acting portfolio? I've got you covered. Drop me an email or a DM, describe what you'd like to see and we'll create something special.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Corporate and Events</h3>
                    <p class="text-muted">Hosting an industry-breaking conference? Or a networking brunch? Or maybe you need new photos for your coffee shop? Send me an enquiry! I will make sure to produce visual content that will make even the pickiest marketing department happy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plane wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Wordlwide</h3>
                    <p class="text-muted">I often travel, mostly around Europe, and will be happy to arrange a shoot with you.
                      Follow my <a href="instagram.com/ouvessvit">Instagram</a> to see where I'm next!
                      Locations within 3h flight/train from London are possible on request - drop me an email and let's discuss.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>9 to 5</h3>
                    <p class="text-muted">Currently I am available on weekends, or Mon-Fri after 6PM.
                       Book a sunset shoot and get a stunning backdrop of golden hour London - just for you.</p>
                </div>
            </div>
        </div>
    </br></br>
    <a class="btn btn-primary btn-xl page-scroll" href="mailto:contact@ngodec.com">Send an Enquiry</a>
    </div>
</section>
