<header class="weareldners-header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>We Are &nbsp;&nbsp;&nbsp;&nbsp;LDNers&nbsp;&nbsp;</h1>
            <p><br>Photography project aiming to illuminate and celebrate who Londoners truly are.<br>
            Can we go on a world tour without leaving the city?</p>
            <a href="https://www.instagram.com/we.are.ldners/" class="btn btn-primary btn-xl page-scroll">Go To Project Instagram</a>
        </div>
    </div>
</header>
